.skillCard {
  width: 30%;
  min-height: 450px;
  overflow: hidden;
  padding: 20px;
  border: 1px;
  border-radius: 5px;
  background: #fff;
  margin:10px;
  .title{
    font-size: 30px;
    font-weight: bold;

  }
  .detail{
    font-size: 24px;
    padding:20px 0 0 0;
  }
  .foot{
    font-size: 24px;
    padding:20px 0 0 0;
  }
}

