.bannerCon {
    font-size: 16px;
    display: flex;            
    flex-direction: column;  
    align-items: center;    
    width: 100%; 
    padding:20px 0;
      .bannerTitle{
        font-size: 36px !important;
        text-align: center;
      }
      .tipBox{
        .tip{
          text-align: center;
          padding:10px 0 0 0;
        }
      }
      
  }
  