.smallFileUploader {
    font-size: 16px;
    display: flex;            
    flex-direction: column;  
    align-items: center;    
    width: 100%; 
      .uploadBox{
        width:40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position:relative;
        
        .uploadClose{
          position:absolute;
          right:0;
          top:0;
          width:20px;
          height: 20px;
  
        }
  
      }
      
  }
  .uploadImg{
    width:40px;
    height: 40px;
  }