.inputEditor {
    font-size: 16px;
    display: flex;            
    flex-direction: row;  
    align-items: center; 
    justify-content: center;   
    width: 100%; 
    padding:20px;
    border: 1px solid #e5e7eb;
    border-radius: 0.75rem;
    box-sizing: border-box;
    background: #fff;
    margin:20px 0 0 0;
    .inputBox{
      margin:0 0 0 20px;
      flex:1;
      .inputArea{
        width: 100%;
        height: 1rem;
        line-height: 1rem;
        .taro-textarea{
         resize: none; 
         height: 1rem;
         line-height: 1rem;
        }
      }
  
    }
    .btnBox{
      width:40px;
      height: 40px;
      border-radius:0.3rem;
      margin:0 0 0 20px;
      display: flex;            
      align-items: center; 
      justify-content: center;   
      .arrowImg{
        width: 24px;
        height: 24px;
      }
    }
      
  }
  @media (min-width: 577px) {
    .inputEditor {
      width: 700px;
    }
  }