.removePeoplePage{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:20px;
  background: linear-gradient(45deg, #feece2, #cbbaef);
  
  
  .editorBox{
    
    .editorBtns{
      justify-content:center;
       width: 100%;
    }
    .editorCon{
      display: flex;
      justify-content: center;
      align-items: center;
      .chatCon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .resultBox{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 20px 0 0 0;
          .removeImg{
            width: 200px !important;
            height: auto !important;
          }
          .resultFoot{
            margin: 20px ;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
          }
      
        }

      }
      .manualBox{
        display: flex;
        align-items: center;
      }

    }

  }
  
  .exempleBox{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 20px;
  
    }

}