.fileUploader {
  font-size: 16px;
  display: flex;            
  flex-direction: column;  
  align-items: center;    
  width: 400px; 
  padding:20px;
    .uploadBox{
      width:300px;
      height: 300px;
      border:1px dashed rgb(10 23 39);
      display: flex;
      align-items: center;
      justify-content: center;

      .uploadBtn{
        font-size: 20px;
        width: 200px;
        height: 55px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(10 23 39);
        color:rgb(255 255 255)
      }
      .uploadInfo{
        font-size: 16px;
        .supportedFormats{
          font-size: 16px;
        }
      }
    }
    
}
@media (min-width: 577px) {
  .editorBox {
    width: 700px;
  }
}