@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn{
  padding:5px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border-radius: 20px;
  border:1px solid #333;
  background: rgb(73, 44, 237);
  color:#ffffff;
  margin: 10px;
  ;
}

.blackBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5px 30px;
  width: auto;
  height: auto;
  border-radius: 20px;
  border:1px solid #333;
  background: rgb(10 23 39);
  color:#fff;
  margin: 10px;
}

.myInput{
  border:1px solid #5c5757;
  border-radius: 10px;
}