.homePage{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:20px;
    background: linear-gradient(45deg, #feece2, #cbbaef);
    .exempleBox{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
    
      }

}